html{
	font-size:62.5%;
    font-family:monospace,sans-serif;
	color:#fccdd3;
}
html,body{
	height:100%;
}
*{
	padding:0;
	margin:0;
}
body{
	display:flex;
	flex-direction:column;
}
.truncate{
	text-overflow: ellipsis;
}
text{
	cursor: default;
}
nav{
	min-height: 4rem;
	display:flex;
	flex-direction:row;
	background:black;
	color:#bbc4ef;
}
main{
	flex: 1;
	border-right:1px solid #bbc4ef;
	background:#62bcfa;
}
svg.arg text{
	fill:#999;
	stroke:#000;
}
svg.arg rect{
	fill:#aaa;
	stroke:#888;
}
svg.arg.hl rect{
	stroke:#ff0;
}
svg.arg.sel rect{
	fill:#ffa;
}
svg.arg.spec rect{
	fill:#0aa;
	stroke:#aab;
}
svg.arg.ctx rect{
	fill:#0aa;
	stroke:#aab;
}
svg.arg.data rect{
	fill:#0aa;
	stroke:#aab;
}
